@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  width: 300px;
}
img {
  width: 100%;
  height: auto;
}
.input {
  border: none;
  background-color: inherit;
  font-size: 16px;
  margin-left: 5px;
}
.input:focus {
  outline: none;
}
.form-container {
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(121, 108, 173, 0.1);

  border-radius: 10px;
  display: flex;
}
.icon {
  font-size: 20px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-and-content {
  display: flex;
}

.card {
  margin: 10px;
  width: 90vw;
  height: auto;
  border-radius: 5px;
  padding: 5px;
}
.card:nth-child(n) {
  background-color: #776baa;
}
.card:nth-child(2n) {
  background-color: rgb(195, 146, 146);
}
.quote-content {
  color: white;
  margin-left: 10px;
}
.author-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author-name {
  color: white;
  font-size: 12px;
  font-weight: 700;
}
.img-container {
  width: 70px;
  object-fit: cover;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #776baa;
  border-color: #776baa transparent #776baa transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
